<html>
	<head>
		<title>Main Menu</title>
	</head>
<body>
	<p>
		<h2>College Manager</h2>

		<div>
			<ul>
			 	<li><a href="/listCourses">List Of Courses</a></li><br/>
				<li><a href="/addCourse">Add Course</a></li><br/>
				<li><a href="/removeCourse">Remove Course</a></li><br/>
			</ul>
		</div>

		<div>
			<ul>
				<li><a href="/register">Register Student</a></li><br/>
				<li><a href="/studentInfo">Students Info</a></li><br/>
			</ul>
		</div>

		<div>
			<ul>
				<li><a href="/quit">Quit</a></li><br/>
			</ul>
		</div>
	</p>
</body>






