<html>
	<head>
		<title>List Of Courses</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
	</head>
<body>
	<p>
		<h4>List Of Courses</h4>
		<h5>The Courses From The DataBase:</h5>
		<a href="/start">Back To Menu</a>
	</p>
</body>



