<html>
	<head>
		<title>List Of Courses</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
	</head>
<body>
	<p>
		<h2>Courses</h2>
		
		<div>
			<h5>The Courses From The DataBase:</h5>
		</div>

		<div>
			<ul>
			 	<li><a href="/start">Back To Menu</a></li><br/>
			</ul>
		</div>
	</p>
</body>




