<html>
	<head>
		<title>Quit</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
		<script src="MyJavascript.js"></script>
	</head>
<body>
	<p>
		<div>
			<h2>Quit</h2>
			<h4 id="quit_header"> </h4>
		</div>

		<div>
			<ul>
			 	<li><a href="/start">Back To Menu</a></li><br/>
				<li><input type="button" value="Quit" onclick="quit_func()"></li><br/>
			</ul>
		</div>
	</p>
</body>