<html>
	<head>
		<title>Quit</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
		<script src="MyJavascript.js"></script>
	</head>
<body>
	<p>
		<h2 >Quit</h2>
		<h2 id="quit_header"></h2>

		<input type="button" value="Quit" onclick="quit_func()">

		<a href="/start">Back To Menu</a>
	</p>
</body>