<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
	</head>
<body>
	<p>
		<h4>Register</h4>
		<h5>Enter Student Details:</h5>
		<a href="/start">Back To Menu</a>
	</p>
</body>

