<html>
	<head>
		<title>Remove Course</title>
		<link rel="stylesheet" type="text/css" href="MyStyle.css">
	</head>
<body>
	<p>
		<h4>Remove Course:</h4>
		<h5>Remove Course From Database:</h5>
		<a href="/start">Back To Menu</a>
	</p>
</body>

